{% extends "landing.html" %} 

{% block title %}
    Srch Poké
{% endblock %}

{% block pkmn_collapse %}
<div class="collapse show" id="home-collapse">
{% endblock %}

{% block content %}
    <h2 class="sub-header">Buscar Pokémon</h2>
    <div class="container-md">
        <div class="row g-3 p-8">
            <div class="col-sm search-form card card-margin card-body p-1">
                <form id="search-form" method='POST'>
                    <div class="row no-gutters col-14 text-center">
                        <div class="col-2">
                            <select class="form-control" id="query-category" name="query-category">
                                <option>Nome</option>
                                <option>Tipo</option>
                                <option>Espécie</option>
                                <option>Valor Mensal</option>
                                <option>ID de Treinador</option>
                                <option>Nome de Treinador</option>
                            </select>
                        </div>
                        <div class="col-9 p-0">
                            <input type="text" placeholder="Buscar..." class="form-control" id="query-text" name="query-text">
                        </div>
                        <div class="col-1 p-0">
                            <button type="submit" class="btn btn-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br><br>

    <h3 class="sub-header">Pokémon</h3>
    <div class="table-responsive h-100">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>Tipo Primário</th>
                    <th>Tipo Secundário</th>
                    <th>Custo Mensal</th>
                    <th>Treinador</th>
                    {% if user.is_admin %}
                        <th />
                        <th />
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for pokemon in db %}
                    <tr>
                        <td>{{ pokemon[1] }}</td>
                        <td>
                            <a href={{ "https://bulbapedia.bulbagarden.net/wiki/%s" % pokemon[2] }}>
                                <img style="max-height:27px;" src={{ "/static/pokemons/%s.png" % pokemon[2] }}>
                                {{ pokemon[2] }}
                            </a>
                        </td>
                        <td>
                            <img style="max-height:22px;" src={{ "/static/tipos/%s.webp" % pokemon[4] }}>
                            {{ pokemon[4] }}
                            <img style="max-height:22px;" src={{ "/static/tipos/%s.webp" % pokemon[4] }}>
                        </td>
                        <td>
                            {% if pokemon[5] != "" %}
                                <img style="max-height:22px;" src={{ "/static/tipos/%s.webp" % pokemon[5] }}>
                                {{ pokemon[5] }}
                                <img style="max-height:22px;" src={{ "/static/tipos/%s.webp" % pokemon[5] }}>
                            {% else %}
                                {{ pokemon[5] }}
                            {% endif %}
                        </td>
                        <td>{{ pokemon[3] }}</td>
                        <td>
                            <a href={{"/trn/%s" % pokemon[7]}} title={{ "ID:%s" % pokemon[7] }}>
                                {{ pokemon[6] }}
                            </a>
                        </td>
                        {% if user.is_admin %}
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="remove-name" value={{ "%s" % pokemon[1]}}>
                                    <button type="submit" class="btn btn-outline-primary h-11 w-12 py-1 px-2">   
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>   
                                </form>
                            </td>

                            <td>
                                <button type="button" id="modal-btn" onclick="preencheNome()" class="btn btn-outline-primary h-11 w-12 py-1 px-2" data-bs-toggle="modal" data-bs-target="#atualizaModal" data-bs-name={{"%s" % pokemon[1]}}>   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 18 18">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                    </svg>
                                </button>   

                                <div class="modal fade" id="atualizaModal" tabindex="-1" aria-labelledby="atualizaModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form id="upd-form" method="POST">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="atualizaModalLabel">Atualizar</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body row g-2">
                                                    <div class="form-floating col-12">
                                                        <input type="text" class="form-control" id="upd-id" name="upd-id" placeholder="ID de Treinador">
                                                        <label for="floatingInput">ID de Treinador</label>
                                                    </div>
                                                    <div class="form-floating col-7">
                                                        <input type="text" class="form-control" id="upd-species" name="upd-species" placeholder="Espécie">
                                                        <label for="floatingInput">Espécie</label>
                                                    </div>
                                                    <div class="form-floating col-5">
                                                        <input type="text" class="form-control" id="upd-cost" name="upd-cost" placeholder="Custo Mensal">
                                                        <label for="floatingInput">Custo Mensal</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>  
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}