{% extends "landing.html" %} 

{% block title %}
    Add Poké
{% endblock %}

{% block content %}
    <h2 class="sub-header">Adicionar Pokémon</h2>
                
    <div class="container-md">
        <form class="row g-3" id="add-form">
            <div class="form-floating col-12">
                <input type="name" class="form-control" id="nomePokemon" placeholder="nome">
                <label for="floatingInput">Nome</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="species" class="form-control" id="especiePokemon" placeholder="species">
                <label for="floatingInput">Espécie</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="typeP" class="form-control" id="tipoPrimario" placeholder="tipoPrim">
                <label for="floatingInput">Tipo Primário</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="typeS" class="form-control" id="tipoSecundario" placeholder="tipoSec">
                <label for="floatingInput">Tipo Secundário</label>
            </div>
        </form>
        <button type="button" class="btn btn-primary mt-2" style="float:right;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
            Adicionar
        </button>
    </div>


    <br><br>

    <h3 class="sub-header">Buscar Pokémon</h3>
    <div class="row">
        <div class="col-sm search-form card card-margin card-body p-0">
            <form id="search-form">
                <div class="row no-gutters col-14 text-center">
                    <div class="col-md-2">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Nome</option>
                            <option>Tipo</option>
                            <option>Espécie</option>
                            <option>ID de Treinador</option>
                        </select>
                    </div>
                    <div class="col-md-9 p-0">
                        <input type="text" placeholder="Buscar..." class="form-control" id="search" name="search">
                    </div>
                    <div class="col-md-1 p-0">
                        <button type="submit" class="btn btn-light">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br><br>

    <h3 class="sub-header">Pokémon</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>Tipo Primário</th>
                    <th>Tipo Secundário</th>
                    <th>ID de Treinador</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>xrr</td>
                    <td>Xatu</td>
                    <td>Psíquico</td>
                    <td>Voador</td>
                    <td>123123</td>
                </tr>
                <tr>
                    <td>Charla</td>
                    <td>Charizard</td>
                    <td>Fogo</td>
                    <td>Voador</td>
                    <td>69420</td>
                </tr>
                <tr>
                    <td>Ash's Pikachu</td>
                    <td>Pikachu</td>
                    <td>Elétrico</td>
                    <td></td>
                    <td>444444</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}